
.container {
  display: flex;
  margin-left:8px;
  background-color: #f0f2f0;
}
// .container, .menu, .emp-details {
//   margin-right:10px;
// }

.menu {
  background-color: #FFFF !important;
  border-right:1px solid lightgray;
  height:100vh;
  width:14%;

  div {
    margin: 25px 25px 25px 0;
    cursor: pointer;
    span {
      font-size: 14px;
      position: relative;
      bottom:4px;
      left:4px;
      color: #79b879;
    }
    svg {
      width: 18px;
      height:18px;
      path {
        fill: #79b879 !important;
      }
    }

  }

  .footer {
    position: fixed;
    bottom: 0;
    text-align: center;
  }
}

.emp-details {
  width:100%;

  .notification {
    background-color: #FFFF;
    position: relative;
    bottom: 16px;
    height: 70px;
  }

  .emp-card {
    margin-left:10px;

    .result-section {
      display: flex;
      font-size: 14px;
      line-height: 25px;

      .show-emp {
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }

      input[type="checkbox" i] {
        background-color: #FFFF !important;
        border-color: #79b879 !important;
      }
    }
  }
}
