
.container {
  display: flex;
  margin-left:8px;
}
.container, .menu, .emp-details {
  margin-right:10px;
}

.menu {
  padding-right:44px;
  border-right:1px solid lightgray;
  height:100vh;

  div {
    margin: 25px 25px 25px 0;
    cursor: pointer;
    span {
      font-size: 14px;
      position: relative;
      bottom:4px;
      left:4px;
      color: #79b879;
    }
    svg {
      width: 18px;
      height:18px;
    path {
      fill: #79b879 !important;
    }
    }

  }

  .footer {
    position: fixed;
    bottom: 0;
    text-align: center;
  }
}
